* {
    padding: 0%;
    margin: 0%;
}

.nav {
    background-color: black;
    text-align: center;
}

.corner-image {
    border-radius: 25px;
    background: black;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.nav ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.nav ul li {
    font-family: monospace;
    padding: 10px;
    margin: 15px;
    width: 120px;
    font-size: 17px;
}

.nav ul li:hover {
    background-color: black;
    border-radius: 1px;
}

a {
    text-decoration: solid;
    color: rgb(135, 250, 215);
}

.sub {
    display: none;
}

.nav ul li:hover .sub {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-left: -15px;
}

.nav ul li:hover .sub ul {
    display: inline-block;
    margin: 20px;
    background: black;
}

.dem {
    display: none;
}

.nav ul li:hover .dem {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-left: -15px;
}

.nav ul li:hover .dem ul {
    display: inline-block;
    margin: 20px;
    background: black;
}

.gen {
    display: none;
}

.gen ul li:hover .dem {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-left: -15px;
}

.gen ul li:hover .dem ul {
    display: inline-block;
    margin: 20px;
    background: black;
}